*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.header{
    display: flex;
    width: auto;
    background-color: #DCE0E9;
}

.header__block{
    display: flex;
    width: calc(100% - 30px * 2);
    max-width: 1296px;
    margin: 0 auto;
    gap: 50px;
}

.header__logo{
    padding: 26px 0;
}

.header__nav{
    padding: 28px 0;
}
.header__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__nav-text {
    text-decoration: none;
    color: #040062;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.header__button{
    margin-left: auto;
    padding: 18px 0;
}
.header__button-style {
    padding: 10px 20px;
    background-color: #0013FF;
    color: white;
    border: 1px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 700px)  {
    .header__logo{
        padding: 20px 0;
    }

    .header__block{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .header__nav{
        padding: 8px 0;
    }
    .header__nav-list {
        display: flex;
        gap: 30px;
        list-style: none;
    }
    .header__button{
        margin: 0 auto;
    }
    .header__block{
        width: calc(100% - 15px * 2);
    }
}
@media screen and (max-width: 370px)  {
    .header__block{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .header__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header__nav-text {
        font-size: 24px;
    }
    .header__button{
        padding-top: 50px;
        margin-bottom: 20px;
    }
}

/* header__end */

/* main */

.main{
    max-width: 1296px;
    width: calc(100% - 30px * 2);
    margin: 0 auto;
}

/* section health */
.health{
    background-color: #C7E3E9;
}

.health__container{
    position: relative;
}

.health__title-block{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0 90px;
}

h1.health__title{
    display: flex;
    flex-direction: column;
    font-family: Abril Fatface, cursive;
    color: #040062;
    text-align: center;
}
.health__title-text-1{
    font-size: 60px;
    line-height: 100%;
}
.health__title-text-2{
    font-size: 80px;
    line-height: 100%;
}
.health__title-text-3{
    font-size: 110px;
    line-height: 100%;
}
.health__title-img{
    max-width: 506px;
    max-height: 100%;
    width: calc(100% - 15px * 2);
    margin: 0 auto;
}

.health__img-1{
    position: absolute;
    bottom: 0px;
    left: 30px;
    width: 335px;
    height: auto;
}
.health__img-2{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 341px;
    height: auto;
}

@media screen and (max-width:1360px){
    
    .health__img-1{
        width: 250px;
        height: auto;
    }
    .health__img-2{
        width: 250px;
        height: auto;
    }
}
@media screen and (max-width: 1200px){
    .health__title-img{
        width: 400px;
        height: auto;
    }
}
@media screen and (max-width: 1000px){
    .health__title-block{
        gap: 80px;
        padding: 50px 0 60px;
    }
    .main{
        max-width: px;
        width: calc(100% - 30px * 2);
        margin: 0 auto;
    }
    .health__title-img{
        width: 300px;
        height: auto;
    }
}
@media screen and (max-width: 920px){
    .health__title-block{
        gap: 80px;
        padding: 50px 0 60px;
    }
    .main{
        max-width: px;
        width: calc(100% - 30px * 2);
        margin: 0 auto;
    }
    .health__title-img{
        width: 250px;
        height: auto;
    }
    .health__img-1{
        width: 200px;
        height: auto;
    }
    .health__img-2{
        width: 200px;
        height: auto;
    }
    .health__title-text-1{
        font-size: 40px;
    }
    .health__title-text-2{
        font-size: 60px;
    }
    .health__title-text-3{
        font-size: 60px;
    }
    
}
@media screen and (max-width: 800px){
    .health__title-img{
        width: 200px;
    }
    .health__img-1{
        width: 150px;
    }
    .health__img-2{
        width: 150px;
    }
    
}

@media screen and (max-width: 560px){
    .health__title-img{
        width: 160px;
    }
    .health__img-1{
        width: 120px;
        left: 10px;
    }
    .health__img-2{
        width: 120px;
        right: 10px;
    }
    .health__title-text-1{
        font-size: 32px;
    }
    .health__title-text-2{
        font-size: 40px;
    }
    .health__title-text-3{
        font-size: 50px;
    }
    
}
@media screen and (max-width: 420px){
    .health__title-img{
        width: 80px;
    }
    .health__img-1{
        width: 100px;
        left: 5px;
    }
    .health__img-2{
        width: 100px;
        right: 5px;
    }
    .health__title-text-1{
        font-size: 24px;
    }
    .health__title-text-2{
        font-size: 32px;
    }
    .health__title-text-3{
        font-size: 46px;
    }
    
}

@media screen and (max-width: 340px){
    .health__title-img{
        width: 150px;
    }
    .health__img-1{
        display: none;
    }
    .health__img-2{
        display: none;
    }
    .health__title-text-1{
        font-size: 18px;
    }
    .health__title-text-2{
        font-size: 24px;
    }
    .health__title-text-3{
        font-size: 36px;
    }
    
}
    

/* section health */


.content{
    max-width: 1296px;
    width: calc(100% - 30px * 2);
    margin-top: 120px;
}
.content__block{
    display: flex;
    margin: 0 auto;
}
.content__block-img{
    width: 50%;
    height: auto;
}
.block-img__color-1{
    background-color: #FEF1EF;
}
.block-img__style{
    display: flex;
    max-width: 648px;
    margin: 0 auto;
    padding: 70px 0;
}
.content__block-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.block-info__title{
    font-family: Abril Fatface, cursive;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    color: #040062;
    padding: 170px 100px 0 100px;
}
.block-info__text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #6D758D;
    padding: 0 100px;
}
.block-reverse{
    flex-direction: row-reverse;
}
.block-img__color-2{
    background-color: #C7E3E9;
}

@media screen and (max-width:1120px){
    
    .block-info__title{
        padding: 170px 30px 0 40px;
    }
    .block-info__text{
        padding: 0 0 0 40px;
    }
}
@media screen and (max-width:800px){
    .content{

        width: calc(100% - 10px * 2);
    }
    .block-info__title{
        font-size: 36px;
        padding: 90px 30px 0 40px;
        line-height: 50px;
    }
    .block-info__text{
        font-size: 20px;
        padding: 0 0 0 20px;
    }
    .block-img__style{
        width: 200px;
    }
    .content{
    margin-top: 60px;
}
}

@media screen and (max-width:640px){
    .content{
        margin-top: 40px;
        width: calc(100% - 10px * 2);
    }
    .block-info__title{
        font-size: 28px;
        padding: 45px 30px 0 40px;
    }
    .block-info__text{
        font-size: 20px;
        padding: 0 0 0 20px;
        line-height: auto;
    }
    .block-img__style{
        width: 150px;
    }
}
@media screen and (max-width: 540px){
    .content{
        margin-top: 30px;
        width: calc(100% - 10px * 2);
    }
    .block-info__title{
        font-size: 28px;
        padding: 45px 30px 0 40px;
        line-height: normal;
    }
    .block-info__text{
        font-size: 16px;
        padding: 0 0 0 20px;
        line-height: normal;
    }
    .block-img__style{
        width: 150px;
    }
}
@media screen and (max-width: 500px){
    .content{
        width: 100%;
    }
    .content__block{
        flex-direction: column;
    }
    .content__block-img{
        width: 100%;
        height: auto;
    }
    .block-img__color-1{
        background-color: #FEF1EF;
    }
    .block-img__style{
        display: flex;
        margin: 0 auto;
        padding: 30px 0;
    }
    .content__block-info{
        width: 100%;
        padding: 80px 20px 80px 20px;
}
}

    



/* footer */
.footer{
    width: auto;
    background-color: #DCE0E9;
    margin-top: 100px;
}

.footer__block{
    display: flex;
    max-width: 1296px;
    width: calc(100% - 30px * 2);
    margin: 0 auto;
    gap: 180px;
}

.footer__logo{
    padding: 80px 0 187px;

}

.footer__title{
    color: #040062;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    padding-top: 80px;;
}
.footer__title-text{
    color: #6D758D;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.title-text-posicion-1{
    margin-top: 20px;
}
.title-text-posicion-2{
    margin-top: 14px;
}

.footer__info{
    display: flex;
    gap: 120px;
}

.footer__social{
    margin-left: auto;
}

.footer__social-img{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 80px;
}

.footer__end-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #6D758D;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 25px;
}

.footer__end-text-position{
    margin-left: auto;
}

footer h3 a{
    text-decoration: none;
    color: #040062;
}

footer p a{
    text-decoration: none;
    color: #6D758D;
}

@media screen and (max-width: 1200px){
    .footer__info{
        gap: 80px;
    }
    .footer__block{
        gap: 100px;
    }
}

@media screen and (max-width: 960px){
    .footer__info{
        gap: 40px;
    }
    .footer__block{
        gap: 60px;
    }
}

/*@media screen and (max-width: 800px){
    .footer__block{
        gap: 10px;
    }
    .footer__logo{
        width: 30%;
    }
    .footer__social{
        width: 30%;
        margin: 0 auto;
    }
    .footer__info{
        flex-direction: column;
        text-align: center; 
        margin: 0 auto;       
    }
    .footer__title{
        padding-top: 20px;
    }
    .footer__info{
        gap: 5px;
    }
   
}
*/
@media screen and (max-width: 800px){
    .footer__block{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .footer__logo{
        padding: 60px 0 0px;
    }
    .footer__title{
        padding-top: 10px;
        text-align: center;
        gap: 80px;
    }
    .footer__info{
        align-items: center;
        gap: 120px;
    }
    .footer__social{
        margin: 0 auto;
    }
    .footer__end-text-position{
        margin: 0 auto;
    }
    .footer__social-img{
        gap: 60px;
        padding-top: 20px;
    }
    .footer__end-text{
        gap: 10px;
        padding-top: 25px;
        padding-bottom: 60px;
    }
    .footer__contact{
        align-self: flex-start;
    }
}
@media screen and (max-width: 560px){

    .footer__info{
        align-items: center;
        gap: 70px;
    }

}

@media screen and (max-width: 440px){

    .footer__info{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

}

/* footer */